body {
	&>.wrapper-page {
		&>nav.navbar {
				height: 98px;				
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
			&>.container {
				height: 100%;
				a {
					font-family: 'Montserrat', sans-serif;	
					font-weight: 600;
					font-size: 14px;
					line-height: 5px;					
					&:nth-child(1)>img {
						width: 55px;
					}
					&:nth-child(2)>img {
						width: 193px;
						margin-left: -30px;
					}
					img {
						height: 36px;												
					}
				}
				button {
					font-family: 'Proxima Nova Rg';
				}
				&>.navbar-collapse {
					padding-right: 0;
					&>ul {
						padding-right: 15px;
						font-family: 'Montserrat', sans-serif;
						&>li {							
							&>a{
								&>b{
									color: #000;
								}
							}
							&>a:hover{
								text-decoration: underline;
							}
						}
						&>.line {
							width: 1px;
							height: 20px;
							background-color: #000;
							margin: 0 5px 0 5px;
						}
					}
					&>form.form-inline {
						&>button.btn {
							height: 38px;
							width: 100px; 
							border: 1px solid #00902A;
							box-sizing: border-box;
							border-radius: 2px;
							color: #000;
							font-size: 14px;
							font-weight: 500;
							margin-right: 20px;
						}
						&>button.btn:hover{
							color: #fff;
						}
					}
					&>form.form-inline-mob {
						display: none;
					}
					&>.nav-lang {
						&>button.btn {
							height: 38px;
							width: 64px; 
							font-family: 'Proxima Nova Rg';
							font-size: 14px;
							font-weight: 500;
							background: #FFFFFF;
							box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
							&:first-child { border-radius: 23px 0 0 23px; }
							&:last-child { border-radius: 0 23px 23px 0; }
							padding-left: 5px;
							&:hover {
								background: #70E76D;
								color: white;
							}
							&.active {
								background: linear-gradient(135deg, #00902A -128.43%, #7ABA57 140.2%);
								color: #fff;
							}
							&>i.flag {
								margin-right: 8px;
							}
						}
					}
				}
			}
		}
		section.home_banner_area {
			z-index: 1;	
			background-size: cover;
			background: linear-gradient(65.64deg, rgba(2,158,47,1.00) 1.13%, #5DC53C 99.99%);
			box-shadow: 0px 2px 5px rgba(2,158,47,1.00);
			&>.banner_inner{
				&>.container {
					&>.row {
						height: 720px;
						&>.col {
							height: 300px;
							&>h2, &>p , &>form.form-inline>button.btn-outline-success, &>.col-play{
								font-family: 'Montserrat', sans-serif;
								font-style: normal;
								color: #fff;
							}
							&>h2 {							
								padding-top: 180px;
								font-size: 52px;
								font-weight: bold;
							}
							&>p {								
								font-size: 18px;
								font-weight: 300;
							}
							&>form.form-inline {
								margin-top: 50px;
								&>button.btn {
									height: 69px;
									width: 250px;
									font-weight: 600;						
									font-size: 18px;
									line-height: 22px;
									letter-spacing: 0.03em;
									color: #fff;
									border: 2px solid #FFFFFF;
									box-sizing: border-box;
									box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
									border-radius: 2px;
									margin-right: 35px;
									margin-top: 30px;
								}	
								&>button.btn:hover {
									background: rgba(50,201,20,1.00);
									box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
								}
							}
							&>.col-play { 
								height: 303px;
								font-weight: 600;
								font-size: 18px;
								line-height: 22px;
								letter-spacing: 0.03em;
								&>a>img.img-play {
									padding-right: 15px;
									-moz-transition: all 0.2s ease-out;
									-o-transition: all 0.2s ease-out;
									-webkit-transition: all 0.2s ease-out;
								}
								&>a:hover {		
									&>img.img-play {
										-webkit-transform: scale(1.2);
										-ms-transform: scale(1.2);
										transform: scale(1.2);	
									}
								}
							}
							&>.col-logo_t>img.img-logo_t {
								height: 61px;
								width: 520px;
							}										
						}
					}
				}	
			}
		}
		section.about_app_area {
			margin-bottom: 130px;
			&>.about_inner {				
				&>.container {
					&>.row {						
						&>.col {
							margin-top: 100px;
							&:first-child {
								padding-top: 200px;
							}
							&:nth-child(4) {
								padding-left: 50px;
								padding-top: 20px;
							}
							&>p, &>h2, &>form.form-inline>button.btn{
								font-family: Montserrat;
								font-style: normal;	
							}
							&>p:first-child {
								font-weight: 500;
								font-size: 16px;
								line-height: 20px;
								color: #00902A;
							}
							&>h2 {
								font-weight: bold;
								font-size: 32px;
								line-height: 120%;
								color: #231F20;
							}
							&>.p2 {
								font-weight: 600;
								font-size: 16px;
								line-height: 20px;	
							}
							&>form.form-inline {
								&>button.btn{
									height: 65px;
									font-weight: 600;
									font-size: 16px;
									line-height: 20px;
									background: linear-gradient(124.01deg, #00902A -16.42%, #7ABA57 115.82%);
									box-shadow: 0px 5px 15px 0px rgba(0,144,42,0.50);
									border-radius: 2px;
									color: #fff;									
									margin-right: 25px;
									margin-top: 30px;
								}
								&>button.btn:hover{
									background: linear-gradient(124.01deg, #00BB36 -16.42%, #4BC046 115.82%);
									box-shadow: 0px 5px 20px 0px rgba(0,144,42,1);
								}
								&>button.apple, &>button.driver { width: 201px; }
								&>button.android { width: 239px; }
							}
							&>.row>.col {
								padding: 0;
								margin: 0;								
								&:first-child>img.phone {
									margin-left: -50px;
								}
							}	
						}
					}
				}
			}
		}
		section.slider_area {
			background: linear-gradient(68.45deg, #028A29 1.13%, #5DB142 99.99%);
			opacity: 0.9;
			&>.slider_inner {
				padding-top: 80px;
				&>.container {
					&>.head {
						display: flex;
						justify-content: space-between;
						flex-wrap: nowrap;
						font-family: Montserrat;
						font-style: normal;						
						&>h2, &>a {
 			 				display: flex;
  							justify-content: flex-start;
							color: #fff;
						}
						&>h2 {
							font-weight: bold;
							font-size: 52px;
							line-height: 130%;
						}
						&>a {							
							padding-top: 35px;
							font-weight: 600;
							font-size: 18px;
							line-height: 22px;
							letter-spacing: 0.03em;
							text-decoration: underline;
						}													
					}	
					&>.carousel {
						&>.carousel-inner {
							&>.carousel-item {
								&>.row {									
									&>.col>.item {
										border-radius: 5px 5px 5px 5px;
										background: #fff;
										box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
										height: 500px;
										margin-bottom: 40px;
										&:hover {
											&>img {
												filter: brightness(100%);
												transition: 1s;
											}
										}
										&>img {
											height: 210px;
											width: 100%;
											filter: brightness(80%);
											border-radius: 5px 5px 0px 0px;
										}
										&>h3, &>p, &>.foot>a, &>.foot>.social_block>a {
											font-family: 'Proxima Nova Rg';
											font-style: normal;													
											text-align: justify;
										}
										&>p {
											margin: 10px 30px 10px 20px;
											font-weight: bold;
											font-size: 14px;
											line-height: 135%;
										}
										&>p:first-letter{
											
											color: #79B957;
										}
										&>h3 {
											margin: 30px 30px 10px 20px;
											font-size: 24px;
											line-height: 120%;											
											font-weight: bold;
											color: #141518;
										}
										&>.foot {
											margin: 12px 30px 50px 20px;
											display: flex;
											justify-content: space-between;
											flex-wrap: nowrap;
											&>a {
												text-decoration: underline;
												font-weight: normal;
												font-size: 16px;
												line-height: 19px;
												color: #00902A;
												display: flex;
												justify-content: flex-start;
											}
											&>.social_block {												
												&>a {
													font-size: 14px;
													line-height: 17px;
													color: #000;													
													&>i{
														color: #ACABAE;
													}
												}
											}
										}	
									}		
								}												
							}
						}						
						&>.slide-control {
							display: flex;
							justify-content: space-between;
							flex-wrap: nowrap;
							padding-left: 10px;
							padding-bottom: 70px;
							&>ol.carousel-indicators {
								position: relative;
								&>li {								
									background-color: #fff;
									width: 10px;
									height: 10px;
									transition: .5s;
									margin: 10px 30px 20px 0;
									border-radius: 100%;
									&:last-child {
										margin: 10px 0 0 0;
									}
								}								
							}	
						}														
					}										
				}
			}
		}
		section.response_area {
			background: rgba(241,241,241,1.00);			
			&>.response_inner {	
				padding-top: 95px;
				padding-bottom: 102px;
				&>.container {										
					&>form.response {
						background: #fff;
						max-width: 720px;					
						box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
						border-radius: 5px;
						margin: 20px auto;
						&>h2, &>h3, &>input, &>.form-chek>label, &>.form-check, &>.col-12>button.btn {
							font-family: 'Montserrat', sans-serif;	
						}
						&>h3, &>input, &>textarea, &>.form-chek>label, &>.form-check {
							margin-left: 75px;
						}
						&>h2 {
							padding-top: 45px;
							font-size: 36px;
							font-weight: 700;
							line-height: 120%;
							text-transform: uppercase;
							color: #231F20;
							text-align: center;
						}
						&>h3 {
							padding-top: 35px;
							font-weight: 700;
							font-size: 18px;
							line-height: 22px;
							letter-spacing: 0.03em;
						}
						&>input, &>.form-check>label {
							font-weight: 500;
							font-size: 14px;
							line-height: 17px;
							color: #818084;
						}						
						&>input {
							width: calc(100% - 140px);
							height: 66px;
							&::placeholder {
								padding-left: 30px;
							}
						}
						&>textarea {
							width: calc(100% - 140px);
							&::placeholder {
								padding-top: 20px;
								padding-left: 30px;
							}
						}
						&>.form-check {							
							padding-top: 23px;
							&>input[type="checkbox"]:checked, &>input[type="checkbox"]:not(:checked){
								content: "";
								position: absolute;
								width: 25px;
								height: 25px;
								border: 1px solid rgba(0, 0, 0, 0.4);
								background-color: #ffffff;
								border-radius: 2px;
								-webkit-transition: all 0.2s ease;
								-moz-transition: all 0.2s ease;
								-o-transition: all 0.2s ease;
								transition: all 0.2s ease;
							}
							&>label { 
								padding-top: 10px;
								padding-left: 15px;
								&>a {
									font-weight: 500;
									font-size: 14px;
									line-height: 17px;
									text-decoration: underline;
									color: #17DD2E;
								}
							}
						}
						&>.col-12 {
							padding-bottom: 41px;
							&>button.btn {
								margin-top: 35px;
								height: 65px;
								width: 201px;	
								font-weight: 600;
								font-size: 18px;
								line-height: 20px;
								color: #fff;
								background: linear-gradient(124.01deg, #00902A -16.42%, #7ABA57 115.82%);							
							}
						}							
					}
				}
			}
		}
		footer.page-footer {
			background: #231F20;
			&>.container {
				&>.row {
					padding-top: 40px;
					&>.col {
						&:nth-child(2) {							
							padding-left: 60px;
						}
						&>.row>.col-6>a, &>h2, &>p, &>form>button {
							font-family: 'Montserrat', sans-serif;	
							color: #fff;
						}
						&>.row>.col-12 {
							margin-bottom: 71px;
							&>a {
								font-family: 'Proxima Nova Rg';
								font-style: normal;
								font-weight: 600;
								font-size: 16px;
								line-height: 19px;
								color: #fff;
							}
						}							
						&>.row>.col-6 {
							margin-bottom: 65px;
							margin-left: 0;
							&>a {	
								font-weight: 600;
								font-size: 16x;
								line-height: 155%;
							}		
						}													
						&>h2 {
							font-weight: bold;
							font-size: 32px;
							line-height: 120%;
						}
						&>p { 
							font-size: 16px;
							line-height: 155%;
						}
						&>form {
							&>input {
								width: 255px;
								height: 50px;
								background: none;
								opacity: 0.5;
								border: 1px solid #ECEFF2;
								box-sizing: border-box;
								border-radius: 2px 0px 0px 2px;
								padding-left: 15px;
								font-weight: 500;
								font-size: 14px;
								line-height: 17px;
								color: rgba(79,255,76,1.00);
								&::placeholder { 
									font-weight: 500;
									font-size: 14px;
									line-height: 17px;
								}								
							}	
							&>button {
								width: 145px;
								height: 50px;
								margin-top: -4px;
								margin-left: -5px;
								background: linear-gradient(122.33deg, #00902A -16.42%, #7ABA57 115.82%);
								border-radius: 0px 2px 2px 0px;
								font-weight: 600;
								font-size: 16px;
								line-height: 20px;
								text-align: center;
							}
						}
					}
					&>.subscribe {
						padding-left: 50px;
					}
					&>.under {
						display: flex;
						justify-content: space-between;
						&>p {
							align-self: auto;
							font-family: 'Proxima Nova Rg';
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							line-height: 17px;
							color: rgba(255,255,255,0.60);	
							&>a {
								text-decoration: underline;
								color: #0F921E;
							}
							&>a>img {
								padding-left: 30px;
								
							}
						}
					}
				}
			}
		}
	}
}
					
@media (max-width: 768px) {
body {
	&>.wrapper-page {		
		&>nav.navbar {
			&>.container {					
				&>button.navbar-toggler {
					height: 35px;
					border: 0;
					&>img:first-child { display: block; }
					&>img:last-child { display: none; }
					&[aria-expanded="true"] {
						&>img:first-child { display: none; }
						&>img:last-child { display: block; }
					}
				}
				&>.navbar-collapse {					
					padding-left: 150px;
					height: 100vh;
					width: 100vw;
					background: #fff;
					z-index: 1;
					&>ul>li, &>.nav-lang, &>form.form-inline-mob {
						padding-top: 36px;
					}
					&>ul {
						&>.line { display: none; }
						&>li {							
							&>a {
								font-weight: 600;
								font-size: 16px;
								line-height: 20px;
								text-align: center;
							}
						}
					}					
					&>.nav-lang {
						margin-left: 80px;
						&>button.btn {
							width: 90px; 
							border-radius: 23px;
							&:first-child { border-radius: 23px; }
							&:last-child { border-radius: 23px; }
							margin: 5px;
						}
					}
					&>form.form-inline {
						display: none;
					}
					&>form.form-inline-mob {
						display: flex;
						justify-content: center;
						&>button.btn {
							font-family: Montserrat;							
							font-weight: 600;
							font-size: 16px;
							line-height: 20px;
							color: #fff;
							width: 201px;
							height: 57px;
							background: linear-gradient(127.58deg, #00902A -16.42%, #7ABA57 115.82%);
						}
					}
				}
			}
		}
		section.home_banner_area {
			&>.banner_inner{
				&>.container {
					&>.row {	
						height: 920px;
						&>.text-center {
							display: none;
						}
						&>.col {
							&>p {
								padding-top: 0px;
								font-size: 30px;
								text-align: center;
							}
							&>form.form-inline {
								&>button.btn-outline-success {									
									margin: auto;
									margin-right: 25%;
									margin-bottom: 30px;									
								}
							}	
						}
						&>.main_text>h2 {							
							padding-top: 60px;
							text-align: center;
						}					
					}
				}
			}
		}
		section.slider_area {
			&>.slider_inner {
				padding-top: 20px;
				&>.container {
					&>.carousel {
						&>.carousel-inner {
							&>.carousel-item {
								&>.row {									
									&>.col {
										&>.item {
											height: 300px;
										}
									}
								}
							}
						}
					}
					&>.head {
						display: block;
						&>h2, &>a {
							margin: 0 auto;
						}
						&>a {
							padding-top: 0px;
						}
					}
				}
			}
		}
		footer.page-footer {
			&>.container {
				&>.row {
					&>.col {
						&>.row>.col-12 {
								margin-bottom: 30px;
						}							
					} 
					&>.subscribe {
						&>h2, &>p {
							text-align: center;
						}
						&>form {
							text-align: center;
							&>input {
								width: 100%;
								border-radius: 2px;
							}
						}
					}					
				}
			}						
		}
	}
}
}

@media (max-width: 992px) {
body {
	&>.wrapper-page {
		&>nav.navbar {
			&>.container {
				padding: 0;
				margin: 0;
				&>.navbar-collapse {
					margin-left: -100px;					
				}
				&>a {	
					&:nth-child(2) {
						display: none;
					}
				}
				&>button {
					margin-left: 385px;
				}
			}
		}
		section.about_app_area {
			&>.about_inner {				
				&>.container {
					&>.row {						
						&>.col {
							&:first-child {
								padding-top: 0px;
							}
							&>p, &>h2, &>.p2 {
								text-align: center;
							}
							&>form.form-inline {
								justify-content: center;
								&>button.btn{
									width: 191px;
									height: 54px;
									font-family: Montserrat;
									font-style: normal;
									font-weight: 600;
									font-size: 14px;
									line-height: 17px;
								}
							}
						}
					}
				}
			}
		}
		section.slider_area {
			&>.slider_inner {
				&>.container {
					&>.carousel {
						&>.carousel-inner {
							&>.carousel-item {
								&>.row {									
									&>.col {
										display: none;
										text-align: center;	
										&:first-child {
											display: block;
										}												
									}									
								}
							}
						}
					}
				}
			}
		}
		footer.page-footer {
			&>.container {
				&>.row {
					&>.under {
						display: block;
						margin-top: 15px;
						&>p { text-align: center;}
					}
				}
			}						
		}
	}
}
}

@media (max-width: 1200px) {
body {
	&>.wrapper-page {
		section.slider_area {
			&>.slider_inner {
				&>.container {
					&>.carousel {
						&>.carousel-inner {
							&>.carousel-item {
								&>.row {									
									&>.col>.item {
										height: 550px;
									}
								}
							}
						}
					}
				}
			}
		}
		footer.page-footer {
			&>.container {
				&>.row {
					&>.col {
						&>form {
							&>input {
								border-radius: 2px;
							}
							&>button {
								margin-top: 15px;
								margin-left: 0px;
								border-radius: 2px;
							}
						}
					}
				}
			}
		}	
	}	
}
}

@import "fonts.scss";